:root{
    --border-line: rgb(155, 155, 155);
    --font: rgb(89, 87, 83);
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(
    to right,
    #fff,
    #cacaca
    );
    color: var(--font);
}

.button{
    padding: 1rem;
    background: var(--border-line);
    display: inline-flex;
    border-radius: 0.5rem;
}

.back.button{
    padding: clamp(0.5rem, 0.5vw, 0.9rem);
    margin-top: 5vw;
    margin-left: 2vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: clamp(0.8rem, 0.9vw, 1.3rem);
}