:root{
    --border-line: rgb(155, 155, 155);
    --font: rgb(89, 87, 83);
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(
    to right,
    #fff,
    #cacaca
    );
    color: var(--font);
}

.button{
    margin-top: 5vw;
    margin-left: 2vw;
    padding: 1rem;
    background: var(--border-line);
    display: inline-flex;
    border-radius: 0.5rem;

}