:root{
    --border-line: rgb(155, 155, 155);
}

body{
    background-image: linear-gradient(
    to right,
    #fff,
    #cacaca
    );

    min-height: 100vh;
}

.greetings h2, .about-me h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: clamp(1.4rem, 2vw, 3rem);
}
