/* header h1, .container{
    margin: 2rem 0rem;
    padding: 2rem 0rem;
} */
header{
    /* padding-bottom: 5vw; */
    border-bottom: 0.75rem solid var(--border-line);
    min-height: 100vh;
}

header h3{
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.greetings{
    padding: 5vw 0vw;
    display: grid;
    gap: 2vw;
    justify-content: center;
}

.greetings h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: clamp(1.4rem, 3vw, 3.25rem);
    
}

.greetings h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: clamp(1.4rem, 2vw, 3rem);
}

.profile-picture{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.img-profile{
    border-radius: 50%;
    border: clamp(0.5rem, 0.5vw, 1.5rem) solid white;
    width: clamp(10rem, 28vw, 18rem);
    
}

/* @media screen and (max-width: 660px) {
    .greetings{
        gap: 0.5rem;
    }
    
    } */